[Desktop Entry]
Actions=opengitkrakendir
MimeType=inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action opengitkrakendir]
Exec=gitkraken --path "%f"
Icon=gitkraken
Name=Open with GitKraken